/2C2PAssignment/2C2PAssignment/bin
/2C2PAssignment/2C2PAssignment/obj
/2C2PAssignment/packages
/2C2PAssignment/2C2PAssignment.Tests/obj
/2C2PAssignment/2C2PAssignment.Business/bin
/2C2PAssignment/2C2PAssignment.Business/obj
